@font-face {
  font-family: "canopee";
  src: url(/fonts/Canopee-Regular.ttf);
}

@font-face {
  font-family: "playfair";
  src: url(/fonts/playfair.ttf);
}

@font-face {
  font-family: "montserrat";
  src: url(/fonts/montserrat.ttf);
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.line {
  animation: fadeIn 3s;
}

.modalWrapper {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.2);
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  min-height: -webkit-fill-available;
  z-index: 10000;
}

.modalBody {
  background-color: white;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 24px;
  border-radius: 12px;
  text-align: center;
  width: clamp(300px, 60vw, 600px);
  z-index: 1000000;
  h1 {
    font-size: clamp(40px, 5vw, 100px);
    font-family: "canopee";
    margin: 0;
  }
  .modalActions {
    margin-top: 12px;
  }
  .modalContent {
    font-size: x-large;
    font-family: "playfair";
    margin: 12px 0;
  }
}

.modalOpen {
  animation: modal-open;
  animation-duration: 0.1s;
  animation-fill-mode: forwards;
  .modalBody {
    animation: modal-open-zoom;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
  }
}
.modalClosed {
  animation: modal-open;
  animation-duration: 0.1s;
  animation-fill-mode: forwards;
  animation-direction: reverse;
  .modalBody {
    animation: modal-open-zoom;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
    animation-direction: reverse;
  }
}

.loader {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  margin: 32px 0;
  span {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #000;
    display: block;
    animation: pulse 0.5s ease-in-out alternate infinite;
  }
}

@keyframes pulse {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes modal-open {
  0% {
    opacity: 0;
    width: 0;
    height: 0;
  }
  0.1% {
    width: 100vw;
    height: 100vh;
    min-height: -webkit-fill-available;
  }
  100% {
    opacity: 1;
  }
}

@keyframes modal-open-zoom {
  0% {
    transform: scale(0) translate(-50%, -50%);
  }
  100% {
    transform: scale(1) translate(-50%, -50%);
  }
}

.buttonWrapper {
  background-color: #000;
  color: white;
  border: 3px solid #000;
  min-width: 200px;
  padding: 24px 30px;
  width: max-content;
  text-transform: uppercase;
  text-align: center;
  font-family: "Montserrat";
  font-weight: 600;
  font-size: large;
  cursor: pointer;
  transition: 150ms all ease-in-out;
}
.buttonWrapper:hover {
  background-color: #000;
  box-shadow: 0 0 16px #000;
}

.secondaryButton {
  background-color: #fff;
  color: black;
  border: 3px solid #000;
  box-shadow: none;
  padding: 12px 24px;
}
.secondaryButton:hover {
  background-color: #000;
  color: #fff;
}

.navbarWrapper {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
}

.centred {
  display: flex;
  align-items: center;
  justify-content: center;
}

.section1 {
  font-family: "canopee";
  background-color: #fff;
  flex-direction: column;
  width: auto;
  min-height: 100vh;
  min-height: -moz-available;
  min-height: -webkit-fill-available;
  min-height: fill-available;
  h1,
  h2,
  h3 {
    font-size: clamp(70px, 10vw, 200px);
    color: black;
    margin: 0;
    text-align: center;
  }
  h2 {
    font-size: clamp(50px, 6vw, 200px);
  }
  h3 {
    font-size: clamp(40px, 4vw, 200px);
  }
  p {
    font-family: "playfair";
    font-size: 24px;
    max-width: 30vw;
    text-align: center;
  }
}

@media (max-width: 500px) {
  .section1 {
    p {
      font-size: 18px;
      max-width: 70vw;
    }
  }
  .buttonWrapper {
    min-width: 150px;
    padding: 12px 24px;
    font-size: 16px;
  }
}

.container {
  width: 100vw;
  display: flex;
  flex-direction: column;
  overflow-x: hidden !important;
  .section {
    width: 100vw;
    min-height: 100vh;
  }
}

.section2 {
  position: relative;
  width: 100vw;
  height: 300vh;
  background-color: #fff;
  .ball {
    position: fixed;
    width: 48px;
    height: 48px;
    left: 48px;
    transform: translateX(-50%);
    background-color: #000;
    border-radius: 24px;
    overflow: clip;
    z-index: 1000;
  }
  .content {
    position: fixed;
    top: 0;
    left: 0;
    font-family: "canopee";
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    transform: none;
    color: #fff;
    width: 100vw;
    height: 100vh;
    gap: 8px;
    h1 {
      font-size: clamp(80px, 10vw, 200px);
      margin: 0;
      text-align: center;
      z-index: 10001;
      position: relative;
    }
    p,
    ul {
      font-family: "montserrat";
      font-size: 24px;
      max-width: 50vw;
      text-align: center;
    }
  }
}
.whyCard {
  font-family: "playfair";
  font-size: 1vw;
  color: white;
  width: clamp(300px, 30vw, 400px);
  animation: 0.3s enter linear forwards;
  transition: all 150ms ease-out;
  position: relative;
  img {
    width: clamp(300px, 30vw, 400px);
    height: clamp(170px, 15vw, 400px);
    object-fit: cover;
    z-index: 0;
    border-radius: 12px;
  }
  h2 {
    z-index: 100;
    position: absolute;
    top: 50%;
    left: 70%;
    transform: translateX(-30%) translateY(-20%) translateZ(30px);
    text-align: center;
    color: white;
    margin: 0;
    width: 80%;
    font-size: clamp(12px, 2vw, 40px);
  }
}

.imageGallery {
  display: flex;
  width: 100vw;
  height: 100vh;
  flex-wrap: wrap;
  justify-content: center;
  position: fixed;
  top: 50vh;
  opacity: 0;
  .imageGalleryRow {
    display: flex;
    width: 100vw;
    justify-content: space-around;
  }
  z-index: 1000;
}

@media (max-width: 700px) {
  .imageGalleryRow {
    flex-direction: column;
    justify-content: center;
    gap: 16px;
    align-items: center;
  }
  .whyCard {
    margin-bottom: 72px;
    img {
      width: clamp(300px, 30vw, 400px);
      height: clamp(170px, 15vw, 400px);
    }
    h2 {
      z-index: 100;
      position: absolute;
      top: 90%;
      left: 50%;
      transform: translateX(-50%) translateZ(30px);
      text-align: center;
      color: white;
      margin: 0;
      width: 80%;
      font-size: clamp(20px, 4vw, 80px);
    }
  }
}

.avatar {
  height: 128px;
  width: 128px;
  border-radius: 50%;
  border: 4px solid black;
  margin-bottom: 32px;
}
.logo {
  float: right;
  padding: 24px;
  width: 6rem;
}
.img1 {
  width: 12rem;
  height: 12rem;
  border: 50%;
  border-radius: 8px;
  filter: grayscale(1);
  // margin: 16px 32px;
}
.img2 {
  width: 9rem;
    height: 9rem;
    border-radius: 50%;
    border-radius: 8px;
    filter: grayscale(1);
    margin: 36px;
}
.celldiv {
  margin: 16px 0px;
}
.card {
  display: flex;
  margin: 16px 32px;
  padding: 32px;
  align-items: center;
  text-align: center;
  justify-content: center;
  max-width: 90%;
  flex-wrap: wrap;
}
.celldiv {
  font-size: 4vw !important;
  text-align: center;
  justify-content: center;
  align-items: center;
}

/*Logged In View Styles*/
.inputGroup {
  font-family: "playfair";
  margin: 16px 0;
  input,
  textarea {
    padding: 16px 12px;
    width: 100%;
    border: 2px solid black;
    font-family: "montserrat";
    font-size: 16px;
    min-width: 40vw;
    resize: none;
  }
  input:focus {
    outline: none;
  }
}

.form {
  margin: 18px 0;
}
.inputLabel {
  font-size: 24px;
  // font-weight: bold;
}

.submitButtons {
  display: flex;
  gap: 32px;
  justify-content: space-between;
  flex-direction: row-reverse;
}

.questionText {
  font-size: 18px;
  margin: 12px;
  max-width: 60vw;
  margin-bottom: 24px;
}
.questionText2 {
  font-size: 18px;
  margin: 12px;
  max-width: 60vw;
  margin-bottom: 2px;
}
.section3 {
  margin: 16px 92px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 330px) {
  .section3 {
    margin: 8px 12px !important;
  }
  .celldiv {
    font-size: 32px !important;
  }
  .logo {
    width: 5rem !important;
  }
}
@media screen and (max-width: 480px) {
  .section3 {
    margin: 8px 12px !important;
  }
  .celldiv {
    font-size: 32px !important;
  }
  .logo {
    width: 5rem !important;
  }
}
@media screen and (max-width: 650px) {
  .section3 {
    margin: 8px 12px !important;
  }
  .celldiv {
    font-size: 32px !important;
  }
  .logo {
    width: 5rem !important;
  }
}

//  .inputGroup{
//   padding: 16px;
// }

.rolesChoice {
  min-width: 200px;
  max-width: 400px;
  padding: 24px 18px;
  border: 3px solid black;
  color: black;
  background: white;
  margin: 12px;
  text-align: center;
  font-weight: 700;
  text-transform: uppercase;
  font-family: "montserrat";
  cursor: pointer;
}
.selected {
  border: 3px solid white;
  color: white;
  background-color: black;
}
.rolePicker {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.website {
  font-family: "playfair";
  font-size: clamp(24px, 2vw, 50px);
  font-weight: 400;
  background-color: #fff;
  flex-direction: column;
  width: 100vw;
  padding: 10vh 0;
  div {
    max-width: Max(300px, 50vw);
    text-align: center;
    margin-bottom: 14px;
  }
}
.circle{
  height: 210px;
  width: 210px;
  
  border: 1px black;
  overflow: clip;
  border-radius: 2000px;
  box-shadow: 0 0 0 5px black;
  margin: 12px;
}

.backButton {
  position: fixed;
  top: 20px;
  left: 20px;
  width: 36px;
  height: 36px;
  border: 2px solid black;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10001;
  cursor: pointer;
}

.section6{
  height: 300vh;
  position: relative;
  .line {
    position: absolute;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
  }
}
