@font-face {
  font-family: "canopee";
  src: url(/fonts/Canopee-Regular.ttf);
}

@font-face {
  font-family: "playfair";
  src: url(/fonts/playfair.ttf);
}

@font-face {
  font-family: "montserrat";
  src: url(/fonts/montserrat.ttf);
}

.buttonWrapper {
  background-color: #fefae0;
  color: black;
  border: 3px solid #000;
  min-width: 200px;
  padding: 24px 30px;
  width: max-content;
  text-transform: uppercase;
  text-align: center;
  font-family: "Montserrat";
  font-weight: 600;
  font-size: large;
  cursor: pointer;
  margin-bottom: 32px;
  transition: 150ms all ease-in-out;
}
.buttonWrapper:hover {
  background-color: #000;
}

.navbarWrapper {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
}

.centred {
  display: flex;
  align-items: center;
  justify-content: center;
}

.section1 {
  font-family: "canopee";
  background-color: #fefae0;
  h1 {
    font-size: 10vw;
    color: black;
    margin: 0;
  }
  p {
    font-family: "playfair";
    font-size: 24px;
    max-width: 30vw;
    text-align: center;
  }
}

.section1 > div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
