@font-face {
  font-family: "canopee";
  src: url(/fonts/Canopee-Regular.ttf);
}

@font-face {
  font-family: "playfair";
  src: url(/fonts/playfair.ttf);
}

@font-face {
  font-family: "montserrat";
  src: url(/fonts/montserrat.ttf);
}

.buttonWrapper {
  background-color: #000;
  color: white;
  border: 3px solid #000;
  min-width: 200px;
  padding: 24px 30px;
  width: max-content;
  text-transform: uppercase;
  text-align: center;
  font-family: "Montserrat";
  font-weight: 600;
  font-size: large;
  cursor: pointer;
  margin-bottom: 32px;
  box-shadow: 0 0 32px #000;
  transition: 150ms all ease-in-out;
}
.buttonWrapper:hover {
  background-color: #000;
}

.navbarWrapper {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
}

.centred {
  display: flex;
  align-items: center;
  justify-content: center;
}

.section1 {
  font-family: "canopee";
  background-color: #fff;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  h1,
  h2,
  h3 {
    font-size: 10vw;
    color: black;
    margin: 0;
  }
  h2 {
    font-size: 6vw;
  }
  h3 {
    font-size: 4vw;
  }
  p {
    font-family: "playfair";
    font-size: 24px;
    max-width: 30vw;
    text-align: center;
  }
}

.container {
  height: 600vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  .section {
    width: 100vw;
    height: 100vh;
  }
}

.section2 {
  position: relative;
  width: 100vw;
  height: 200vh;
  background-color: #fff;
  .ball {
    position: fixed;
    width: 48px;
    height: 48px;
    left: 48px;
    transform: translateX(-50%);
    background-color: #000;
    border-radius: 24px;
    overflow: clip;
  }
  .content {
    position: fixed;
    top: 0;
    left: 0;
    font-family: "canopee";
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    transform: none;
    color: #fff;
    width: 100vw;
    height: 100vh;
    gap: 8px;
    h1 {
      font-size: 10vw;
      margin: 0;
    }
    p,
    ul {
      font-family: "montserrat";
      font-size: 24px;
      max-width: 50vw;
      text-align: center;
    }
  }
}

.whyCard {
  font-family: "playfair";
  font-size: 2vw;
  color: white;
  width: clamp(200px, 30vw, 400px);
  animation: 0.3s enter linear forwards;
  transition: all 150ms ease-out;
  img {
    width: clamp(200px, 30vw, 400px);
    height: 250px;
    object-fit: cover;
    z-index: 0;
    border-radius: 12px;
  }
  h2 {
    z-index: 100;
    position: relative;
    text-align: center;
    color: white;
    margin: 0;
  }
}

.imageGallery {
  display: flex;
  gap: 5vw;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.avatar {
  height: 128px;
  width: 128px;
  border-radius: 50%;
  border: 4px solid black;
}

.img1 {
  width: 12rem;
  border-radius: 8px;
  filter: grayscale(1);
  // margin: 16px 32px;
}
.img2 {
  width: 12rem;
  border-radius: 8px;
  filter: grayscale(1);
}
.celldiv {
  margin: 16px 0px;
}
.card {
  display: flex;
  margin: 16px 32px;
  padding: 32px;
  align-items: center;
  text-align: center;
  justify-content: center;
  max-width: 100%;
}
.celldiv {
  font-size: 4vw !important;
  text-align: center;
  justify-content: center;
  align-items: center;
}

