@font-face {
  font-family: "canopee";
  src: url(/fonts/Canopee-Regular.ttf);
}

@font-face {
  font-family: "playfair";
  src: url(/fonts/playfair.ttf);
}

@font-face {
  font-family: "montserrat";
  src: url(/fonts/montserrat.ttf);
}

.buttonWrapper {
  background-color: #000;
  color: white;
  border: 3px solid #000;
  min-width: 200px;
  padding: 24px 30px;
  width: max-content;
  text-transform: uppercase;
  text-align: center;
  font-family: "Montserrat";
  font-weight: 600;
  font-size: large;
  cursor: pointer;
  margin-bottom: 32px;
  transition: 150ms all ease-in-out;
}
.buttonWrapper:hover {
  background-color: #000;
  box-shadow: 0 0 16px #000;
}

.secondaryButton {
  background-color: #fff;
  color: black;
  border: 3px solid #000;
  box-shadow: none;
  padding: 12px 24px;
}
.secondaryButton:hover {
  background-color: #000;
  color: #fff;
}

.navbarWrapper {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
}

.centred {
  display: flex;
  align-items: center;
  justify-content: center;
}

.section1 {
  font-family: "canopee";
  background-color: #fff;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  h1,
  h2,
  h3 {
    font-size: clamp(80px, 10vw, 200px);
    color: black;
    margin: 0;
    text-align: center;
  }
  h2 {
    font-size: clamp(50px, 6vw, 200px);
  }
  h3 {
    font-size: clamp(40px, 4vw, 200px);
  }
  p {
    font-family: "playfair";
    font-size: 24px;
    max-width: 30vw;
    text-align: center;
  }
}

@media (max-width: 500px) {
  .section1 {
    p {
      font-size: 18px;
      max-width: 70vw;
    }
  }
  .buttonWrapper {
    min-width: 150px;
    padding: 12px 24px;
    font-size: 16px;
  }
}

.container {
  width: 100vw;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  .section {
    width: 100vw;
    height: 100vh;
  }
}

.section2 {
  position: relative;
  width: 100vw;
  height: 250vh;
  background-color: #fff;
  .ball {
    position: fixed;
    width: 48px;
    height: 48px;
    left: 48px;
    transform: translateX(-50%);
    background-color: #000;
    border-radius: 24px;
    overflow: clip;
  }
  .content {
    position: fixed;
    top: 0;
    left: 0;
    font-family: "canopee";
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    transform: none;
    color: #fff;
    width: 100vw;
    height: 100vh;
    gap: 8px;
    h1 {
      font-size: clamp(80px, 10vw, 200px);
      margin: 0;
      text-align: center;
      z-index: 10001;
      position: relative;
    }
    p,
    ul {
      font-family: "montserrat";
      font-size: 24px;
      max-width: 50vw;
      text-align: center;
    }
  }
}
.whyCard {
  font-family: "playfair";
  font-size: 2vw;
  color: white;
  width: clamp(300px, 30vw, 400px);
  animation: 0.3s enter linear forwards;
  transition: all 150ms ease-out;
  position: relative;
  img {
    width: clamp(300px, 30vw, 400px);
    height: clamp(170px, 15vw, 400px);
    object-fit: cover;
    z-index: 0;
    border-radius: 12px;
  }
  h2 {
    z-index: 100;
    position: absolute;
    top: 50%;
    left: 70%;
    transform: translateX(-30%) translateY(-20%) translateZ(30px);
    text-align: center;
    color: white;
    margin: 0;
    width: 80%;
    font-size: clamp(20px, 4vw, 80px);
  }
}

.imageGallery {
  display: flex;
  width: 100vw;
  height: 100vh;
  flex-wrap: wrap;
  justify-content: center;
  position: fixed;
  top: 50vh;
  opacity: 0;
  .imageGalleryRow {
    display: flex;
    width: 100vw;
    justify-content: space-around;
  }
  z-index: 1000;
}

@media (max-width: 700px) {
  .imageGalleryRow {
    flex-direction: column;
    justify-content: center;
    gap: 16px;
    align-items: center;
  }
  .whyCard {
    margin-bottom: 72px;
    img {
      width: clamp(300px, 30vw, 400px);
      height: clamp(170px, 15vw, 400px);
    }
    h2 {
      z-index: 100;
      position: absolute;
      top: 90%;
      left: 50%;
      transform: translateX(-50%) translateZ(30px);
      text-align: center;
      color: white;
      margin: 0;
      width: 80%;
      font-size: clamp(24px, 4vw, 80px);
    }
  }
}

.avatar {
  height: 128px;
  width: 128px;
  border-radius: 50%;
  border: 4px solid black;
  margin-bottom: 32px;
}

.img1 {
  width: 12rem;
  border-radius: 8px;
  filter: grayscale(1);
  // margin: 16px 32px;
}
.img2 {
  width: 12rem;
  border-radius: 8px;
  filter: grayscale(1);
}
.celldiv {
  margin: 16px 0px;
}
.card {
  display: flex;
  margin: 16px 32px;
  padding: 32px;
  align-items: center;
  text-align: center;
  justify-content: center;
  max-width: 100%;
}
.celldiv {
  font-size: 4vw !important;
  text-align: center;
  justify-content: center;
  align-items: center;
}

/*Logged In View Styles*/
.inputGroup {
  font-family: "playfair";
  margin: 8px 0;
  input {
    padding: 16px 12px;
    width: 100%;
    border: 3px solid black;
  }
}

.form {
  margin: 18px 0;
}
.inputLabel{

  font-size: 32px;
  // font-weight: bold;
}
.section3{

  margin: 16px 92px;
}
@media screen and (max-width: 330px){
  .section3{
    margin: 8px 12px !important;
    
  }
  .celldiv{
    font-size: 32px !important;
  }
}
@media screen and (max-width: 480px){
  .section3{
    margin: 8px 12px !important;
  }
   .celldiv{
    font-size: 32px !important;
  }
}
@media screen and (max-width: 650px){
  .section3{
    margin: 8px 12px !important;
  }
   .celldiv{
    font-size: 32px !important;
  }

}

//  .inputGroup{
//   padding: 16px;
// }