@import "styles/variables.scss";

.backdrop {
    position: fixed;
    z-index: 100;
    top: 0;
    right: 0;
    // background: $backdrop;
    min-width: 100vw;
    min-height: 100% !important;
    height: 100%;
}

.sidebar {
    height: 100%;
    background: $white;
    position: fixed;
    top: 0;
    right: 0;
    width: 70%;
    max-width: 320px;
    z-index: 200;
    transform: translateX(100%);
    transition: transform 0.3s ease-out;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    .cross {
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
        width: clamp(240px,19.4vw,280px);
      img {
          margin-top: 20px;
          cursor: pointer;
      }
    }
    .menuList {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        margin-top: 30px;

        .menuListItem {
            margin: 15px 30px;

            a {
                color: $black;
                // font-weight: $font-medium;
                font-size: 1.25rem;
            }
                a:active {
                    color: $purple;
                    font-weight: 700;
                }
                   a:hover {
                       color: $purple;
                       font-weight: 700;
                   }
        }
    }

    .LogInButton {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 8px 16px;
        border-radius: 5px;
        // border: 1px solid $bg-blue-900;
        // color: $bg-blue-900;
        margin: 15px 30px;
    }
}

.open {
    transform: translateX(0);
}