@import "styles/variables.scss";

.past {
    max-width: 1353px;
    margin: 0 auto;
    @include disp;
    flex-wrap: wrap;
     margin-bottom : clamp(30px, 3.5vw, 40px);
    .col1 {
        background-color: $white;
        color: $black;
        margin : clamp(15px, 1.7vw, 20px);
               border-radius: clamp(3px, 0.5vw, 7px);
               box-shadow: 0px 4px 30px 4px rgba(0, 0, 0, 0.25);
            @include disp;
            .col2 {
                @include disp;
                flex-direction: column;
                text-align: center;
                padding: clamp(10px,1.5vw,20px);
         
                img {
                    width: clamp(120px, 22vw,280px);
                    height: auto;
                }
                .head {
                    margin: 15px 0;
                    font-weight: 700;
                    font-size: clamp(12px,1.6vw,20px);
                }
                .content {
                    width: clamp(150px, 22vw,280px);
                    font-size: clamp(11px,1.4vw,18px);
                    line-height: 1.4;
                }
            }
    }
}