@import "styles/variables.scss";

.sopho {
    max-width: 1353px;
    margin: 0 auto;
    @include disp;
    flex-wrap: wrap;
    margin-bottom: clamp(30px, 3.5vw, 40px);

    .col1 {
        @include disp;
        background-color: $white;
        color: $black;
        margin: clamp(10px, 1.7vw, 20px);
        border-radius: clamp(7px, 1.1vw, 15px);

        img {
            border-radius: clamp(7px, 1.1vw, 15px) 0 0 clamp(7px, 1.1vw, 15px);
            width: clamp(85px, 16vw, 216px);
            height: clamp(92px, 16vw, 216px);
        }

        .col2 {
            margin: clamp(8px, 1.7vw, 20px);

            .head1 {
                font-weight: 700;
                font-size: clamp(15px, 1.9vw, 24px);
            }

            .head2 {
                margin: clamp(5px, 0.75vw, 10px) 0px;
                font-size: clamp(13px, 1.55vw, 18px);
                width: clamp(60px, 10vw, 137px);
            }

            img {
                border-radius: 0;
                filter: invert(80%);
                width: clamp(14px, 2.1vw, 25px);
                height: clamp(14px, 2.1vw, 25px);
                margin: 0px clamp(3px, 0.6vw, 7px);
                cursor: pointer;

            }
        }
    }

    .col1:hover {
        background-color: $purple;
        color: $white;
        cursor: pointer;
        box-shadow: 0px 4px 20px 4px rgba(0, 0, 0, 0.25);

        .col2 {
            img {
                filter: invert(0%);
            }

            img:hover {
                filter: invert(30%);
            }
        }
    }
}
