@import "styles/variables.scss";

.wrapper {
  margin-top: clamp(100px, 18.5vw, 270px);
  @include disp;
  .head1 {
    text-align: center;
    color: $purple;
    font-weight: 700;
    font-size: clamp(64px, 10vw, 144px);
    position: absolute;
    z-index: 0;
  }
}
.events {
  margin-top: clamp(18px, 3vw, 40px);
  background-color: $purple;
  color: $white;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  .head2 {
    font-size: clamp(24px, 3.6vw, 48px);
    z-index: 20000;
    font-weight: 700;
  }
  .content {
    margin: clamp(18px, 3vw, 40px);
    width: clamp(256px, 45vw, 676px);
    font-size: clamp(12px, 1.1vw, 18px);
    line-height: 1.4;
  }
  .posters {
    display: flex;
    overflow-x: scroll;
    width: 100%;
    max-width: 1440px;
    // margin-left: clamp(34px,10.3vw,149px);
    img {
      cursor: pointer;
      border-radius:clamp(5.5px,0.67vw,10px);
      margin: clamp(3.5px,0.45vw,6.5px);
      height: clamp(177px,21.35vw,308px);
      box-shadow: 0px 4px 20px 4px rgba(0, 0, 0, 0.25);
    }
  }
  .posters::-webkit-scrollbar-thumb {
    width: 5px;
  }
  .posters::-webkit-scrollbar {
    width: 0px;
    height: 5px;
    background: transparent;
  }
    button {
      background-color: $white;
      color: $black;
      border: none;
      width: clamp(80px, 12vw, 156px);
      height: clamp(34px, 3.2vw, 47px);
      border-radius: clamp(3px, 0.48vw,7px);
      font-size: clamp(12px, 1.3vw, 14px);
      margin-top: clamp(26px,5.45vw,79px);
       margin-bottom: clamp(31px, 4.6vw, 67px);
      text-align: center;
      cursor: pointer;
      font-weight: bold;
    }
}

