@import "styles/variables.scss";

.wrapper {
       margin-top: clamp(100px, 14vw, 180px);
   @include disp;
.head1 {
    text-align: center;
    color: $purple;
    font-weight: 700;
    font-size: clamp(64px,10vw,144px);
   position: absolute;
   z-index: 0;
}
}
.events {
            margin-top: clamp(18px, 3vw, 40px);
    background-color: $purple;
    color: $white;
    height: 400px;
     display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    .head2 {
        font-size: clamp(24px,3.6vw,48px);
        z-index: 20000;
        font-weight: 700;
    }
    .content {
         margin: clamp(18px, 3vw, 40px);
        width: clamp(256px,45vw, 676px);
         font-size: clamp(12px, 1.1vw, 18px);
         line-height: 1.4;
    }
}