@import "styles/variables.scss";

.wrapper {
  margin-top: clamp(100px, 18.5vw, 270px);
  @include disp;
  .head1 {
    text-align: center;
    color: $purple;
    font-weight: 700;
    font-size: clamp(64px, 10vw, 144px);
    position: absolute;
    z-index: 0;
  }
}
.events {
  margin-top: clamp(18px, 3vw, 40px);
  background-color: $purple;
  color: $white;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  .head2 {
    font-size: clamp(24px, 3.6vw, 48px);
    z-index: 20000;
    font-weight: 700;
  }
  .content {
    margin: clamp(18px, 3vw, 40px);
    width: clamp(256px, 45vw, 676px);
    font-size: clamp(12px, 1.1vw, 18px);
    line-height: 1.4;
  }
  .posters {
    display: flex;
    overflow-x: scroll;
    width: 100%;
    max-width: 1440px;
    // margin-left: clamp(34px,10.3vw,149px);
    img {
      cursor: pointer;
      border-radius:clamp(5.5px,0.67vw,10px);
      margin: clamp(3.5px,0.45vw,6.5px);
      height: clamp(177px,21.35vw,308px);
      box-shadow: 0px 4px 20px 4px rgba(0, 0, 0, 0.25);
    }
  }
  .posters::-webkit-scrollbar-thumb {
    width: 5px;
  }
  .posters::-webkit-scrollbar {
    width: 0px;
    height: 5px;
    background: transparent;
  }
    button {
      background-color: $white;
      color: $black;
      border: none;
      width: clamp(80px, 12vw, 156px);
      height: clamp(34px, 3.2vw, 47px);
      border-radius: clamp(3px, 0.48vw,7px);
      font-size: clamp(12px, 1.3vw, 14px);
      margin-top: clamp(26px,5.45vw,79px);
       margin-bottom: clamp(31px, 4.6vw, 67px);
      text-align: center;
      cursor: pointer;
      font-weight: bold;
    }
}
.future {
  background-color: $black;
  color: $white;
  display: flex;
  align-items: center;
  .left {
      display: flex;
       justify-content: flex-start;
  }
  .right{
      display: flex;
      justify-content: flex-end;
  }
  img {
      position: absolute;
      width: auto;
      overflow: hidden;
      height: clamp(122px,18.6vw,268px);
  }
  .futureWrapper {
    padding: clamp(34px, 7.5vw,111px) 0;
    @include disp;
    margin: 0 auto;
    // max-width: 1370px;
    @include max-q(800px) {
      flex-direction: column;
    }
    .head {
      font-weight: 700;
      font-size: clamp(18px, 2.4vw, 35px);
      span {
        font-size: clamp(24px, 3.3vw, 48px);
      }
      @include min-q(800px) {
        width: 60%;
        margin-right: clamp(230px,20.8vw,300px);
      }
      @include max-q(799px) {
           text-align: center;
      }
    }
    .col2 {
      display: flex;
      justify-content: flex-end;
      @include min-q(800px) {
        width: 40%;
      }
      .email {
          margin-top: clamp(18px, 2vw, 22px);
        background-color: $white;
        width: clamp(192px,33.15vw,478px);
        border-radius: clamp(3px, 0.48vw, 7px);
        padding: clamp(3px, 0.4vw,5px);
        display: flex;
        align-items: center;
            justify-content:space-between;
        input {
          color: rgba(0, 0, 0, 0.49);
             font-size: clamp(9px, 1.2vw, 18px);
          border: transparent;
          box-sizing: border-box;
         display: flex;
         align-items: center;
          outline: none;
        }
        button {
          background-color: $purple;
          color: $white;
          border: none;
          width: clamp(62px, 10.8vw, 156px);
          height: clamp(19px, 3.2vw, 47px);
          border-radius: clamp(3px, 0.48vw,7px);
          font-size: clamp(9px, 1.3vw, 18px);
          text-align: center;
          cursor: pointer;
          font-weight: bold;
        }
      }
    }
  }
}
