/************** GLOBAL CSS ONLY ***************/

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');
html,
body {
  background-color: #F5F4F8;
  padding: 0;
  margin: 0;
  font-family: 'Raleway',
  sans-serif;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.loaderContainer {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  z-index: 1000;
}

.loaderWrapper {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.loaderSpinner {
  display: block;
  width: 64px;
  height: 64px;
  border: 6px solid #6e6e6e;
  border-left: 6px solid #6f57ff;
  border-radius: 50%;
  animation: loadingAnimation 1s infinite linear;
}

@keyframes loadingAnimation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.fp-watermark {
  display: none;
}

.fp-section {
  background-color: #fff;
}
